/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    margin: auto;
    width: 900px;
}

header {
    position: relative;
    height: 200px;
}

#main_title {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#blog_post_title {
    margin: 0px;
}

#blog_post_author {
   font-size: 0.8em;
}

#blog_post_content {
    margin: 1em;
    margin-bottom: 4em;
}
